{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": true
        }
    },
    "rules": {
        "semi": "error"
    }
}